<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="Tests/bootstrap.php"
    colors="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <testsuites>
        <testsuite name="LenonLeiteBouncerBundle">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
        <env name="MAXMIND_LICENSE_KEY" value=""/>
        <env name="KERNEL_CLASS" value="AppTestKernel"/>
        <const name="IS_PHPUNIT" value="true"/>
        <const name="MAUTIC_ENV" value="test"/>
        <server name="KERNEL_DIR" value="../../app"/>
        <server name="APP_DEBUG" value="0"/>
        <server name="APP_ENV" value="test" force="true"/>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
